.menu__logo {
    text-indent: -9999999px;
    display: inline-block;
    height: 100%;
    width: 92px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.menu__search-button {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 1px solid #c8c9ce;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
  
}

.menu__search-form {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: white;
}

.menu__search-input {
    outline: none;
    border: 1px solid #c8c9ce;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
}